/******** SENCHA TOUCH THEME  ******/
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
/***********************************/

/******* VARIABLES / FONTS  / MIXINS ********/
@import "vars";
@import "compass/css3";
@import "FileUp";

@mixin placeholder-style {
	::-webkit-input-placeholder {
	   color: red;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: red;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: red;  
	}

	:-ms-input-placeholder {  
	   color: red;  
	}
}

body {


}

#EmployeePic{
	border-radius: 50px;
}

/**********************************/

.invform-error-field {
	padding: 10px;
	font-size: 11px;
	background-color: rgb(231, 76, 60);
	@include placeholder-style;
}

.x-field.error .x-input-el{
	
	border: 1px solid rgb(231, 76, 60);
	@include border-radius(5px);
	color: rgb(231, 76, 60);
	@include placeholder-style;
}

.btn {
	
	margin: 0 5% 0 5%;
}



.x-toolbar {
	background-color: $foundation-navbar
}


.window-wrapper img{
	height: 75px;
	width: 75px;
	float: left;
	margin: 5px;
}

.window-content {
	position: relitive;
	top: 0; left: 60px;
	padding-right: 80px;
	
}

.window-content h2{
	//font-size: 90%;
	font-family: $base-font-family;
	color: orange;
}

.window-content p{
	//clear: both;
}


.x-title {
	font-family: "FuturaStd-Book";
	//letter-spacing:1.55px;
}


.homedataview {

	height: 155px;
	width: 155px;
	padding:10px;
	border:5px solid blue;
	margin:5px;
	float: left;
	@include border-radius(25px);

	&:hover {
		border: 4px solid red;
	}
	
}

.test {
	
	//border:2px solid red;
}


.x-slidenavigation-list {
	color: white;
	background-color: $flatui-darkblue;
	border: 0;
	
	.x-list-item {
		font-family: "FuturaStd-Book";
   		font-weight: 200;
   		letter-spacing: 1.2px;
		border: 0 !important;
		color: white;
		height: 15px !important;

		&.x-item-selected {
			background-image: none !important;
			background-color: lighten($flatui-darkblue, 30%) !important;
		}
	}

}

.x-input-el.error {
	color: red;
}



.x-toolbar {
    padding: 0 ;

    &.x-docked-left {
        width: 7em;
       
    }

    &.x-docked-right {
        width: 7em;
        
    }
}

.x-title {
   
    font-size: 1.2em;
    margin: 0 0.3em;
    padding: 0 .3em;
}




















